/* Gerais */
body{
    margin:0;
    padding:0;
    background-color: black;
}
.container{
    background-color: black;
    margin: 0;
    padding: 0;
}



/* Header */
#LimaFLIX{
    width: 100px;
    height: 50px;
    position: absolute;
    top: 15px;
    left: 15px;
}
header{
    width: 100%;
    height: 15vh;
    position: relative;
    background-color: black;
}
#pesquisa{
    position: absolute;
    top:15px;
    right: 35%;
    background-color: white;
    height: 40px;
    width: 500px;
    padding: 10px;
    border-radius: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#inputPesquisa{
    background: none;
    border: 0;
    outline: 0;
    font-size: 16px;
    padding-left: 20px;
    width: 500px;
}
.pesquisaBotao{
    color: yellow;
    font-size: 40px;
}
#login a{
    position: absolute;
    right: 30px;
    top: 20px;
    color: yellow;
    font-size: 50px;
}

/* IMAGEM PRINCIPAL */
.imagemPrincipal{
    width: 100%;
    height: 600px;
    background: 
        linear-gradient(to bottom, rgba(0, 0, 0, 0) 60%, black 100%),
        url("img/imagemGrandeVingadores.jpg") no-repeat;
    background-size: cover;
    }

/* TEXTO */
.resenha{
    display: flex;
    align-items: start;
    gap:50px;
    margin-top: 30px;
    justify-content: center;
}
.resenha .texto{
    margin-top:100px;
    color:white;
    width: 50%;
}
.resenha .texto p{
    font-size: 18px;
}
.resenha .texto img{
    height: 400px;
    margin: 0;
}

.resenha img{
    height: 500px;
    margin-top: 130px;
}